@import "variables.scss";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

#header{
	width: 100vw;
	background-color: $primaryColor;
	#logo{
		text-align: center;
		margin: 0 auto;
		img{
			width: 100px;
			height: auto;
		}
	}
	#mainNav{
		ul{
			list-style: none;
			text-align: center;
			li{
				display: inline-block;
				padding: 5px;
				a{
					color: $darkenColor;
					text-decoration: none;
				}
			}
		}
	}
}

#mainContent{
	width: 100vw;
	max-width: 1200px;
	margin: 0 auto;
	h3{
		color: $darkenColor;
	}
	p{
		color: $darkenColor;
	}
}

.sectionImages img{
	width: 100vw;
	height: auto;
}

.sectionText{
	margin: 10px;
}

#theWine{
		text-align: center;
		img{
			max-height: 200px;
			width: auto;
		}
		.sectionText{
			text-align: left;
		}
}

#tastingRooms, #Hours{
	width: $halfWidth;
	margin: 5px;
}

#currentReleases{
	display: none;
}

#footer{
	width: 100vw;
	background-color: $darkenColor;
	color: darken($primaryColor, 10%);
	padding-top: 25px;
	padding-bottom: 10px;
	#footerAll{
		max-width: 1200px;
		margin: 0 auto;
		#footerContent{
			display: flex;
			h3{
				font-size: 12px;
			}
			h4{
				font-size: 11px;
			}
			p{
				font-size: 10px;
			}
		}
	}
}

@media only screen and (min-width:768px){
	#mainContent #aim, #about, #theWine{
		display: flex;
		align-items: center;
	}
	.sectionImages img{
		width: $halfWidth;
		max-width: 600px;
		height: auto;
	}
	.sectionText{
		width: $halfWidth;
		height: auto;
	}
	#about {
		.sectionImages{
			order: 2;
		}
		.sectionText{
			order: 1;
		}
	}
	#theWine{
		.sectionImages{
			width: $halfWidth;
		}
		img{
			max-height: 300px;
		}
	}
	#tastingRooms, #Hours{
		width: 25vw;
	}
}

@media only screen and (min-width:1200px) {
	#currentReleases{
		display: flex;
		.wines{
			width: 25vw;
			padding: 10px;
			a{
				text-decoration: none;
				color: $darkenColor;
			}
			p{

			}
			.price{
				text-align: right;
				align-items: baseline;
			}
		}
	}

}
