@import "variables.scss";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	background-color: $lightColor;
}

#header{
	width: 100vw;
	background-color: $headerBGColor;
	top: 0px;
	#logo{
		text-align: center;
		margin: 0 auto;
		img{
			width: 100px;
			height: auto;
		}
	}
	#mainNav{
		ul{
			list-style: none;
			text-align: center;
			li{
				display: inline-block;
				padding: 5px;
				a{
					color: $darkenColor;
					text-decoration: none;
				}
			}
			.dropdown{
    		position: relative;
    		display: inline-block;
				.dropbtn{
					padding: 15px;
    			border: none;
					background-color: $headerBGColor;
					@include headerText;
				}
				.dropdown-content {
    		display: none;
    		position: absolute;
				a{
					@include bodyText;
					padding: 15px;
    			display: block;
					}
				a:hover {background-color: $lightColor}
				}
			}
			.dropdown:hover{
				.dropdown-content{
					display: block;
    			background-color: $headerBGColor;
				}
			}
		}
	}
}

#mainContent{
	width: 100vw;
	max-width: 1200px;
	margin: 0 auto;
	background-color: white;
}

.sectionImages img{
	width: 100vw;
	height: auto;
}

.sectionText{
	margin: 10px;
	h3{
		color: $darkenColor;
		padding-bottom: 5px;
	}
	p{
		@include bodyText;
	}
}

#theWine{
		text-align: center;
		img{
			max-height: 200px;
			width: auto;
		}
		.sectionText{
			text-align: left;
		}
}

#tastingRooms, #Hours{
	width: $halfWidth;
	margin: 5px;
}

#currentReleases{
	display: none;
}

footer{
	display: none;
}

@media only screen and (min-width:768px){
	#mainContent section{
		display: flex;
		align-items: center;
	}
	.sectionImages img{
		width: $halfWidth;
		max-width: 600px;
		height: auto;
	}
	.sectionText{
		width: $halfWidth;
		height: auto;
	}
	#about {
		@include reorder;
	}
	#damsteep{
		@include reorder;
	}
	#theWine{
		.sectionImages{
			width: $halfWidth;
		}
		img{
			max-height: 300px;
		}
	}
	#tastingRooms, #Hours{
		width: 25vw;
	}
	#currentReleases{
		display: flex;
		.wines{
			width: 50vw;
			padding: 10px;
			a{
				text-decoration: none;
				color: $darkenColor;
			}
			.price{
				text-align: right;
				align-items: baseline;
				font-weight: bold;
			}
		}
	}

}

@media only screen and (min-width:1200px) {
	#currentReleases{
		display: flex;
		.wines{
			width: 25vw;
			padding: 10px;
			a{
				text-decoration: none;
				color: $darkenColor;
			}
			.price{
				text-align: right;
				align-items: baseline;
				font-weight: bold;
			}
		}
	}
	footer{
		display: inline-block;
		width: 100vw;
		background-color: $darkenColor;
		color: $footerText;
		padding-bottom: 10px;
		padding-top: 15px;
		bottom: 0px;
		margin: 0 auto;
		#footer{
			max-width: 1200px;
			margin: 0 auto;
			display: flex;
			section {
				padding-right: 25px;
				margin: 0 auto;
			}
			h3{
				font-size: 16px;
			}
			.footerContent{
				display: flex;
				.contOptions{
					padding-top: 5px;
					padding-right: 8px;
				}
				h4{
					font-size: 14px;
				}
				P, a{
					@include footerTextS;
				}
			}
		}
	}
}
