// Main variables
$primaryColor : #57606f;
$darkenColor : darken($primaryColor, 5%);
$lightColor : lighten($primaryColor, 50%);
$halfWidth : 50vw;

// Layout Colors
$footerText : lighten($primaryColor, 15%);
$headerBGColor : lighten($primaryColor, 40%);

@mixin headerText {
	color: $darkenColor;
	font-size: 16px;
	text-decoration: none;
}

@mixin bodyText {
	color: $darkenColor;
	font-size: 14px;
	text-decoration: none;
}

@mixin footerTextS {
	color: $footerText;
	font-size: 12px;
	text-decoration: none;
}

@mixin reorder {
	.sectionImages{
		order: 2;
	}
	.sectionText{
		order: 1;
	}
}

@mixin CTAButtons {
	margin-top: 15px;
	padding: 5px;
	background-color: $lightColor;
	@include bodyText;
}
